# Auto detect text files and perform LF normalization
* text=auto
Content/MedievalTavern/TavernAssets/Textures/T_Landscape_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Landscape_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Mountain_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Mountain_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Waves_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Glass_E.uasset filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_BarrelDoor_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Bark_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_PoastingBoard_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Grass_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Grass_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Props_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Debris_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Dirt_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Moist_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_woodenPlanks_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Moist_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Grass_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_RockCliff_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Bark_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Moist_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Leaking_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_LeavesDecal_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Cliff_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_DearMount_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_GrassAtlas_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_PoastingBoard_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Cliff_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Sack_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_WoodenBeamsEdge_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Ivy_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Snow_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_sign_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Ivy_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Dirt_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_RockCliff_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_sign_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Snow_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_TableChairBench_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_CookingPot_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Door_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_BurntDebris_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Stains_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_BurntDebris_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Dirt_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_GrassAtlas_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_DearMount_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Branches_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_woodenPlanks_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Noise2_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Noise_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Path_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Props_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Stains_O.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_CookingPot_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Leaking_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Leaking_O.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_wood_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Glass_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Landscape_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Glass_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Fabric_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_sign_ARM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Dirt_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Snow_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_woodenPlanks_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Path_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Cliff_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_RockCliff_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Base_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Sack_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_PoastingBoard_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Path_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_wood_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_BurntDebris_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_DearMount_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Bark_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Fog_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_ORMH.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Debris_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_wood_ORMH.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Glass_ARM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_LeavesDecal_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Var_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Sack_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_GrassAtlas_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Fabric_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Door_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Alpha_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Branches_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_LeavesDecal_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Props_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_CookingPot_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_mountainAO.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Fabric_BC_O.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Fog_O.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Debris_BC_O.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Ivy_BC.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Branches_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Door_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Alpha_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_CookingPot_E.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_DearMount_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Sack_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Dirt_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_plaster_H.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Roof_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_Fog_O.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_door01.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Door02.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Sack.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_chair.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Table.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Mug.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_tableCloth01.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_tavernBarrel.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_tavernBarrel2.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_FirePit.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_PosterBoard_Plane_018.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Bowl01Food.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_tableCloth02.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Rope01.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_chandelier.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_barrel.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Box02.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Jug.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_lantern.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Window02.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_bench.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_GlassBottle.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Mountain.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Box01.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Balcony.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Candle01.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_tableLong.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_CookingPot.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_Bowl02Food.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Props/SM_DeerMount.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Foliage/SM_Tree.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Foliage/SM_Tree03.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/Foliage/SM_Bush.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_WallWindow03.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_roofDamage01.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_wall01_Wall_016.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_Doorway.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_roofWindow.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_chimney.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_Stairs.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Meshes/ModularParts/SM_roof02.uasset filter=lfs diff=lfs merge=lfs -text
Content/MedievalTavern/TavernAssets/Textures/T_woodenPlanks_ORMH.uasset filter=lfs diff=lfs merge=lfs -text
